@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html,
body {
    background: url('../images/BGWEB.jpg');
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    background-color: #fff;
}

#containerform {
    margin-top: 20px;
    max-height: 1000px;
    width: 420px;
    padding: 50px 50px
}

.form-group {
    margin: 15px 0 15px;
}

.btn {
    width: 320px;
}

.icon {
    position: relative;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-color: #0d6efd;
}

.fas {
    color: #fff;
}